apparmor==3.0.1
appdirs==1.4.4
asgiref==3.3.1
asn1crypto==1.4.0
astroid==2.4.2
auto-cpufreq==1.0
beautifulsoup4==4.9.3
Brlapi==0.8.0
btrfsutil==5.9
CacheControl==0.12.6
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
cffi==1.14.4
chardet==3.0.4
chrome-gnome-shell==0.0.0
click==7.1.2
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==3.3.1
cupshelpers==1.0
Cython==0.29.21
distlib==0.3.1
distro==1.5.0
Django==3.1.4
docutils==0.16
filelock==3.0.12
gps==3.21
html5lib==1.1
idna==2.10
isc==2.0
isort==5.6.4
lazy-object-proxy==1.4.3
lensfun==0.3.95
LibAppArmor==3.0.1
louis==3.15.0
lxml==4.6.2
mccabe==0.6.1
msgpack==1.0.0
netsnmp-python==1.0a1
ordered-set==4.0.2
packaging==20.7
pep517==0.9.1
pexpect==4.8.0
Pillow==8.0.1
plumbum==1.6.9
ply==3.11
progress==1.5
psutil==5.7.3
ptyprocess==0.6.0
pwquality==1.4.4
pycairo==1.20.0
pycparser==2.20
pycups==2.0.1
pycurl==7.43.0.6
PyGObject==3.38.0
pylint==2.6.0
pyOpenSSL==20.0.0
pyparsing==2.4.7
PyPDF2==1.26.0
PyQt5==5.15.2
PyQt5-sip==12.8.1
pysmbc==1.0.23
python-prctl==1.7
pytz==2020.4
pyxdg==0.26
qomui==0.8.2
rados==2.0.0
rbd==2.0.0
Reflector==2020.12.7.6.5.5
reportlab==3.5.56
requests==2.25.0
resolvelib==0.5.3
retrying==1.3.3
rgw==2.0.0
sh==1.14.1
six==1.15.0
soupsieve==2.1
sqlparse==0.4.1
systemd-python==234
sysv-ipc==1.0.1
team==1.0
toml==0.10.2
urllib3==1.25.10
virtualenv==20.2.2
webencodings==0.5.1
wrapt==1.12.1
