{% load static %}


<div class="container recent" id="activity">
    <div class="row">
      <h2>Conqueror of Kizil Elma</h2>
      <div class="owl-carousel owl-carousel2 owl-theme">
        <div>
          <div class="card"> <img class="card-img" src="{% static 'assets/img/recent-img1.jpg' %} " alt="">
            <div class="card-img-overlay">
              <div class="bottom-text">
                <h5 class="card-title">Sultan 1</h5>
                <p class="card-text">Osman bin Ertugrul</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="card"> <img class="card-img" src="{% static 'assets/img/recent-img2.jpg' %}" alt="">
            <div class="card-img-overlay">
              <div class="bottom-text">
                <h5 class="card-title">Sultan 2</h5>
                <p class="card-text">Orhan bin Osman</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="card"> <img class="card-img" src="{% static 'assets/img/recent-img3.jpg' %} " alt="">
            <div class="card-img-overlay">
              <div class="bottom-text">
                <h5 class="card-title">Sultan 3</h5>
                <p class="card-text">Murad bin Orhan</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="card"> <img class="card-img" src="{% static 'assets/img/recent-img4.jpg' %} " alt="">
            <div class="card-img-overlay">
              <div class="bottom-text">
                <h5 class="card-title">Sultan 4</h5>
                <p class="card-text">Bayezid bin Murad</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="card"> <img class="card-img" src="{% static 'assets/img/recent-img5.jpg' %} " alt="">
            <div class="card-img-overlay">
              <div class="bottom-text">
                <h5 class="card-title">Sultan 5</h5>
                <p class="card-text">Mehmed bin Bayezid</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="card"> <img class="card-img" src="{% static 'assets/img/recent-img6.jpg' %} " alt="">
            <div class="card-img-overlay"> 
              <div class="bottom-text">
                <h5 class="card-title">Sultan 6</h5>
                <p class="card-text">Murad bin Mehmed</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="card"> <img class="card-img" src="{% static 'assets/img/recent-img7.jpg' %} " alt="">
            <div class="card-img-overlay">
              <div class="bottom-text">
                <h5 class="card-title">Sultan 7</h5>
                <p class="card-text">Mehmed bin Murad</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>