{% load  static %}


<ol class="carousel-indicators">
    <li data-target="#my-carousel" data-slide-to="0" > <img src="{% static 'assets/img/about-me-img1.png' %} " alt=""> <span>Sherrie Rose</span> </li>
    <li class="active" data-target="#my-carousel" data-slide-to="1" aria-current="location"> <img src="{% static 'assets/img/about-me-img2.png' %} " alt=""> <span>Sherrie Rose</span> </li>
    <li data-target="#my-carousel" data-slide-to="2"> <img src="{% static 'assets/img/about-me-img3.png' %} " alt=""> <span>Sherrie Rose</span> </li>
  </ol>
</div>
</div>
<div class="container-fluid fh5co-insta-feed activity">
<div class="container recent">
  <div class="row mb-5 pb-5">
    <div class="col-lg-6">
      <div class="twit-box">
        <div class="media mb-3"> <img class="align-self-start mr-3 rounded-circle" src="{% static 'assets/img/twit-girl-img.png' %} " alt="">
          <div class="media-body">
            <h6 class="mb-0 mt-2">Ustadz Felix Siauw</h6>
            <p>@felixsiauw</p>
          </div>
        </div>
        <p class="text-justify"> "Allah ingatkan di QS 2:214, jalan ke surga itu dihalang para pembenci agama dengan:
          1. Propaganda (hoax)
          2. Deraan fisik
          3. Goncangan psikis
          Hari-hari ini bukan teori, tapi sepertinya sudah masuk praktik
          
          Allahummaghfirlanaa" </p>
        <div class="clearfix"> <a href="#" class="btn btn-primary mt-2 float-right">Follow</a> </div>
      </div>
    </div>
    <div class="col-lg-6 feed-caro">
      <h2>Instagram feed</h2>
      <div class="owl-carousel owl-carousel4 owl-theme">
        <div>
          <div class="card"> <img class="card-img" src="{% static 'assets/img/feed-img1.png' %} " alt="">
            <div class="card-img-overlay"> </div>
          </div>
        </div>
        <div>
          <div class="card"> <img class="card-img" src="{% static 'assets/img/feed-img2.png' %} "  alt="">
            <div class="card-img-overlay"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</div>
</div>