{% load  static %}

<footer class="container-fluid p-0 pr-0">
    <div class="row mr-0 ml-0"></div>
        <div class="contact-form" id="contact">
          <h3 class="text-uppercase">Contact me</h3>
          <form method="POST">
            {% csrf_token %}
              
              {% for form in post_form %}
                <div class="form-group">
                 {{form}}
              </div>
              {% endfor %}
              <button type="submit">Send</button>  
                
          </form>
        </div>
      </div>
    </div>
    <div class="copy pt-4 pb-4">
      <h2 class="text-center d-block">Find me on social media</h2>
      <div class="row social-links">
        <ul class="nav mx-auto">
          <li class="nav-item"> <a class="nav-link blank-target" href="https://www.facebook.com/profile.php?id=100009141231551"><img src="{% static 'assets/img/facebook.png' %} " alt=""></a> </li>
          <li class="nav-item"> <a class="nav-link" href="https://twitter.com/fh5co"><img src="{% static 'assets/img/twitter.png' %} " alt=""></a> </li>
          <li class="nav-item"> <a class="nav-link" href="#"><img src="{% static 'assets/img/pinterest.png' %} " alt=""></a> </li>
          <li class="nav-item"> <a class="nav-link" href="#"><img src="{% static 'assets/img/google-plus.png' %} " alt=""></a> </li>
        </ul>
      </div><br>
      <p><a>&copy; 2020 </a>  &nbsp;  |  &nbsp; Design by <a href="https://www.facebook.com/" target="_blank">P3t0t</a> &nbsp; | &nbsp;  All rights reserved</p>
    </div>
  </footer>