{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'home/header.html' %}
        
    
<body>
    
    {% block loader %}
    {% include 'home/loader.html' %}
    {% endblock loader %}
        
   
    <div id="pcoded" class="pcoded">
        
    {% include 'home/navbar.html' %}
  
    
    {% block view %}
    {% include 'home/view-home-data.html' %}

    {% endblock view %}
        
        
                       
    </div>

    {% include 'home/javascript.html' %}

</body>

</html>
