{% load static %}

{% block header %}
<head>
<title>Rabuncode</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="CodedThemes">
  <meta name="keywords" content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
  <meta name="author" content="CodedThemes">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'home/assets/css/bootstrap/css/bootstrap.min.css' %} ">
  <link rel="stylesheet" type="text/css" href="{% static 'home/assets/icon/themify-icons/themify-icons.css' %} ">
  <link rel="stylesheet" type="text/css" href="{% static 'home/assets/icon/icofont/css/icofont.css' %} ">
  <link rel="stylesheet" type="text/css" href="{% static 'home/assets/css/style.css' %} ">
  <link rel="stylesheet" type="text/css" href="{% static 'home/assets/css/jquery.mCustomScrollbar.css' %} ">
</head>
{% endblock header %}