{% load static %}
<!DOCTYPE html>
<html>
 <head>
  <title>SMKN 1 DOMPU</title>
 </head>
 <body>

  <img src="{% static 'data_kehadiran/images/ntb.png' %}" align='left' style="width: 90px; height: 110px; padding-left: 350px;"> 
  <img src="{% static 'data_kehadiran/images/smk1dompu.png' %}" align='right' style="width: 90px; padding-right: 340px; ">
  <h3  style="padding-left: 450px;">PEMERINTAH PROVINSI NUSA TENGGARA BARAT</h3>
  <h3  style="padding-left: 480px;">DINAS PENDIDIKAN DAN KEBUDAYAAN</h3>
  <h3  style="padding-left: 560px;">SMK NEGERI 1 DOMPU</h3>

  <table align="center" rules="rows"  style="padding-top: 10px;"  size="10px">

   <tr>
    <td><h5>Alamat: Jalan Sultan Hasanuddin No. 21 Telp. (0373)21126 Dompu 84217, Website: http://www.smkn1dompu.sch.id <br><span style="padding-left: 200px;">Email: smkn1dpu@gmail.com atau smkn1dompu-ntb@yahoo.co.id</span> </h5></td>
   </tr>
   <tr>
    <td></td>
   </tr>
  </table>
  <h3><center>ABSENSI KELAS</center></h3>
  <br/>


 <table  width="900" border="1" align="center">
  <tr>
   <th rowspan="2">No</th>
   <th rowspan="2">NIS</th>
   <th rowspan="2">Nama Siswa</th>
   <th colspan="100">Kehadiran Siswa Jam Ke....</th>
  </tr>
  <tr>
   <td align="center" width="25">1</td>
   <td align="center" width="25">2</td> 
   <td align="center" width="25">3</td>
   <td align="center" width="25">4</td>
   <td align="center" width="25">5</td>
   <td align="center" width="25">6</td>
   <td align="center" width="25">7</td>
   <td align="center" width="25">8</td>
   <td align="center" width="25">9</td>
  </tr>

  <tr align="center">
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
  
  </tr>
 </table>
 <br />
 </body>
</html>